/* The animation code */
@keyframes example {
  0% {background-color: red;}
  100% {background-color: violet;}
}

/* The element to apply the animation to */
body {
  width: 100px;
  height: 100vh 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
