body {
   padding: 2em;
   height: 100vh;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: linear-gradient(to bottom right, #ff0000, #ffa500);
}
div.post {
   border: 0.3em solid black;
   border-radius: 5px;

   width: 60%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
}