body {
   padding: 2em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.post {
   border: 0.3em solid black;
   border-radius: 5px;

   width: 50%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
}