:root {
   /* Theme Colors*/
   --fore-color: #f5f5f5;
   --back-color: #000000;
   --border-color: #808080;
}
body {
   padding: 2em;
   height: 98vh;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: var(--fore-color);
   background-color: var(--back-color);
   background: linear-gradient(to bottom right, #ff0000, #ffa500);
}
div.post {
   border: 3px ridge var(--border-color);
   border-radius: 5px;
   padding: 3px;

   width: 60%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
}
nav {
   border-bottom: 3px ridge var(--border-color);
}