.first {
 background-image: linear-gradient(to right, red, orange);
}
.second {
 background-image: linear-gradient(to right, orange, yellow);
}
.3rd {
 background-image: linear-gradient(to right, yellow, green);
}
