.first {
 background-image: linear-gradient(to right, red, yellow);
}
.second {
 background-image: linear-gradient(to right, blue, violet);
}
.second {
 background-image: linear-gradient(to right, green, blue);
}
