ul {
   background-color: #b99292;
   width: 10em;
   /* Shut off the defaults */
   list-style: none;
   margin: 0;
   padding: 0;
}
li a {
   display: block;
   color: white;
   text-decoration: none;
   padding: 1em;
   text-align: center;
}
li a:hover {
   background: #771e1e;
}